In [1]:
import pandas as pd

In [14]:
path = r"C:\Tanish\Python\Pandas\Copy of Robot Game Accuracy Chart.xlsx"

In [18]:
df = pd.read_excel(path)

In [19]:
df.head(10)

,Launches,Launch 1,Launch 2,Launch 3,Launch 4,Launch 5,Launch 6,Launch 7,Launch 8,Launch 9,...,Launch 16,Launch 17,Launch 18,Launch 19,Launch 20,Launch 21,Launch 22,Launch 23,Launch 24,Launch 25
0,Hydroelectric Dam:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hydroelectric Dam - Success - 20,20.00,20,20,20,20,20,20,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hydroelectric Dam - Time,7.33,5.97,9.79,5.59,6.18,5,6.03,6.11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Innovation Project Model:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Innovation Project Model - Success - 10,10.00,10,10,10,10,10,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Innovation Project Model - Time,6.42,5.99,8.77,6.58,5.76,6.27,6.15,5.85,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Power Plant:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Power Plant - Success - 15 - 5 each,15.00,0,15,5,15,0,15,15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Power Plant - Time,6.59,NaN,6.48,10.23,6.5,4.66,6.27,6.41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Power Plant - Bonus - 10,10.00,0,10,0,10,0,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.isna().sum()

Launches      1
Launch 1     13
Launch 2     11
Launch 3     11
Launch 4     10
Launch 5     12
Launch 6     16
Launch 7     16
Launch 8     16
Launch 9     24
Launch 10    26
Launch 11    26
Launch 12    26
Launch 13    26
Launch 14    26
Launch 15    26
Launch 16    26
Launch 17    26
Launch 18    26
Launch 19    26
Launch 20    26
Launch 21    26
Launch 22    26
Launch 23    26
Launch 24    26
Launch 25    26
dtype: int64

In [35]:
df["Launch 1"].fillna(df["Launch 1"].min(), inplace=True)

In [36]:
df

,Launches,Launch 1,Launch 2,Launch 3,Launch 4,Launch 5,Launch 6,Launch 7,Launch 8,Launch 9,...,Launch 16,Launch 17,Launch 18,Launch 19,Launch 20,Launch 21,Launch 22,Launch 23,Launch 24,Launch 25
0,Hydroelectric Dam:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,Hydroelectric Dam - Success - 20,20.000000,20,20,20,20,20,20,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,Hydroelectric Dam - Time,7.330000,5.97,9.79,5.59,6.18,5,6.03,6.11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,Innovation Project Model:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,Innovation Project Model - Success - 10,10.000000,10,10,10,10,10,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
5,Innovation Project Model - Time,6.420000,5.99,8.77,6.58,5.76,6.27,6.15,5.85,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
6,Power Plant:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
7,Power Plant - Success - 15 - 5 each,15.000000,0,15,5,15,0,15,15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
8,Power Plant - Time,6.590000,NaN,6.48,10.23,6.5,4.66,6.27,6.41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
9,Power Plant - Bonus - 10,10.000000,0,10,0,10,0,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
10,Stats:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
11,Time Back,4.540000,12.72,4.62,4.09,4.77,6.09,4.76,4.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
12,Total Time,24.880000,24.68,29.66,26.49,23.21,22.02,23.21,23.15,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Total Points,55.000000,30,55,35,55,30,55,55,55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Success Rate,1.000000,0.545455,1,0.636364,1,0.545455,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Full Completion,1.000000,0,1,0,1,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
16,Notes:,55.000000,Didn't do Power Plant,Got stuck on Water Dam,Got a bit stuck and only got the Right energy ...,Perfect Run,Lifted the first ring on poerplant but couldn'...,Perfect Run,Perfect Run,Perfect Run,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
17,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
18,Average Points,47.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
19,Average Points Converted,0.858586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
20,Average Time,24.922222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
21,Success Rate (Full Launch Completion),0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
22,Launches:,55.000000,Launch 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
23,Mission:,55.000000,Hydroelectric Dam,Innovation Project Model,Power Plant,Total,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
24,Points:,55.000000,20,10,15,45,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
25,Description:,55.000000,If energy cell unit is not touching Water Dam.,If Innovation Project Model is partly inside H...,If energy cell unit is no longer touching Powe...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
26,Bonus:,55.000000,0,0,10,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
27,Description:,55.000000,NaN,NaN,If all three energy cell units are not touchin...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
28,Total:,55.000000,20,10,25,55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [39]:
df.isna().sum()

Launches      1
Launch 1      0
Launch 2     11
Launch 3     11
Launch 4     10
Launch 5     12
Launch 6     16
Launch 7     16
Launch 8     16
Launch 9     24
Launch 10    26
Launch 11    26
Launch 12    26
Launch 13    26
Launch 14    26
Launch 15    26
Launch 16    26
Launch 17    26
Launch 18    26
Launch 19    26
Launch 20    26
Launch 21    26
Launch 22    26
Launch 23     0
Launch 24    26
Launch 25    26
dtype: int64

In [47]:
citygroup = df.groupby("Launch 5")
for i in citygroup:
    print(i[1])

           Launches  Launch 1  Launch 2 Launch 3  Launch 4 Launch 5  Launch 6  \
14     Success Rate       1.0  0.545455        1  0.636364        1  0.545455
15  Full Completion       1.0         0        1         0        1         0

   Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  \
14        1        1        1  ...        0.0        0.0        0.0
15        1        1        1  ...        NaN        NaN        NaN

    Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  \
14        0.0        0.0        0.0        0.0        0.0        0.0
15        NaN        NaN        NaN        NaN        0.0        NaN

    Launch 25
14        0.0
15        NaN

[2 rows x 26 columns]
     Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5 Launch 6 Launch 7  \
11  Time Back      4.54    12.72     4.62     4.09     4.77     6.09     4.76

   Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  Launch 19  \
11     4.78      NaN  ...        NaN        NaN        NaN        NaN

    Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  Launch 25
11        NaN        NaN        NaN        0.0        NaN        NaN

[1 rows x 26 columns]
                          Launches  Launch 1 Launch 2 Launch 3 Launch 4  \
5  Innovation Project Model - Time      6.42     5.99     8.77     6.58

  Launch 5 Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  \
5     5.76     6.27     6.15     5.85      NaN  ...        NaN        NaN

   Launch 18  Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  \
5        NaN        NaN        NaN        NaN        NaN        0.0

   Launch 24  Launch 25
5        NaN        NaN

[1 rows x 26 columns]
                   Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5  \
2  Hydroelectric Dam - Time      7.33     5.97     9.79     5.59     6.18

  Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  \
2        5     6.03     6.11      NaN  ...        NaN        NaN        NaN

   Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  Launch 25
2        NaN        NaN        NaN        NaN        0.0        NaN        NaN

[1 rows x 26 columns]
              Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5 Launch 6  \
8  Power Plant - Time       6.59      NaN     6.48    10.23      6.5     4.66

  Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  Launch 19  \
8     6.27     6.41      NaN  ...        NaN        NaN        NaN        NaN

   Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  Launch 25
8        NaN        NaN        NaN        0.0        NaN        NaN

[1 rows x 26 columns]
                                   Launches  Launch 1 Launch 2 Launch 3  \
4   Innovation Project Model - Success - 10      10.0       10       10
9                  Power Plant - Bonus - 10      10.0        0       10
26                                  Bonus:       55.0        0        0

   Launch 4 Launch 5 Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  \
4        10       10       10       10       10      NaN  ...        NaN
9         0       10        0       10       10      NaN  ...        NaN
26       10       10      NaN      NaN      NaN      NaN  ...        NaN

    Launch 17  Launch 18  Launch 19  Launch 20  Launch 21  Launch 22  \
4         NaN        NaN        NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN        NaN        NaN
26        NaN        NaN        NaN        NaN        NaN        NaN

    Launch 23  Launch 24  Launch 25
4         0.0        NaN        NaN
9         0.0        NaN        NaN
26        0.0        NaN        NaN

[3 rows x 26 columns]
                              Launches  Launch 1 Launch 2 Launch 3 Launch 4  \
7  Power Plant - Success - 15 - 5 each      15.0        0       15        5

  Launch 5 Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  \
7       15        0       15       15      NaN  ...        NaN        NaN

   Launch 18  Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  \
7        NaN        NaN        NaN        NaN        NaN        0.0

   Launch 24  Launch 25
7        NaN        NaN

[1 rows x 26 columns]
                           Launches  Launch 1 Launch 2 Launch 3 Launch 4  \
1  Hydroelectric Dam - Success - 20      20.0       20       20       20

  Launch 5 Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  \
1       20       20       20       20      NaN  ...        NaN        NaN

   Launch 18  Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  \
1        NaN        NaN        NaN        NaN        NaN        0.0

   Launch 24  Launch 25
1        NaN        NaN

[1 rows x 26 columns]
      Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5 Launch 6  \
12  Total Time     24.88    24.68    29.66    26.49    23.21    22.02

   Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  \
12    23.21    23.15       27  ...        0.0        0.0        0.0

    Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  \
12        0.0        0.0        0.0        0.0        0.0        0.0

    Launch 25
12        0.0

[1 rows x 26 columns]
    Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5 Launch 6 Launch 7  \
24  Points:       55.0       20       10       15       45      NaN      NaN

   Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  Launch 19  \
24      NaN      NaN  ...        NaN        NaN        NaN        NaN

    Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  Launch 25
24        NaN        NaN        NaN        0.0        NaN        NaN

[1 rows x 26 columns]
        Launches  Launch 1 Launch 2 Launch 3 Launch 4 Launch 5 Launch 6  \
13  Total Points      55.0       30       55       35       55       30
28        Total:      55.0       20       10       25       55      NaN

   Launch 7 Launch 8 Launch 9  ...  Launch 16  Launch 17  Launch 18  \
13       55       55       55  ...        0.0        0.0        0.0
28      NaN      NaN      NaN  ...        NaN        NaN        NaN

    Launch 19  Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  \
13        0.0        0.0        0.0        0.0        0.0        0.0
28        NaN        NaN        NaN        NaN        0.0        NaN

    Launch 25
13        0.0
28        NaN

[2 rows x 26 columns]
   Launches  Launch 1               Launch 2                Launch 3  \
16   Notes:      55.0  Didn't do Power Plant  Got stuck on Water Dam

                                             Launch 4     Launch 5  \
16  Got a bit stuck and only got the Right energy ...  Perfect Run

                                             Launch 6     Launch 7  \
16  Lifted the first ring on poerplant but couldn'...  Perfect Run

       Launch 8     Launch 9  ...  Launch 16  Launch 17  Launch 18  Launch 19  \
16  Perfect Run  Perfect Run  ...        NaN        NaN        NaN        NaN

    Launch 20  Launch 21  Launch 22  Launch 23  Launch 24  Launch 25
16        NaN        NaN        NaN        0.0        NaN        NaN

[1 rows x 26 columns]
    Launches  Launch 1           Launch 2                  Launch 3  \
23  Mission:      55.0  Hydroelectric Dam  Innovation Project Model

       Launch 4 Launch 5 Launch 6 Launch 7 Launch 8 Launch 9  ...  Launch 16  \
23  Power Plant    Total      NaN      NaN      NaN      NaN  ...        NaN

    Launch 17  Launch 18  Launch 19  Launch 20  Launch 21  Launch 22  \
23        NaN        NaN        NaN        NaN        NaN        NaN

    Launch 23  Launch 24  Launch 25
23        0.0        NaN        NaN

[1 rows x 26 columns]

In [49]:
citygroup = df.groupby("Launch 5").agg({"Launch 1":"nunique"}).reset_index()
citygroup

       Launch 5  Launch 1
0             1         1
1          4.77         1
2          5.76         1
3          6.18         1
4           6.5         1
5            10         2
6            15         1
7            20         1
8         23.21         1
9            45         1
10           55         1
11  Perfect Run         1
12        Total         1

In [53]:
citymerge = df.merge(citygroup,on="Launch 5",how="left")
citymerge

,Launches,Launch 1_x,Launch 2,Launch 3,Launch 4,Launch 5,Launch 6,Launch 7,Launch 8,Launch 9,...,Launch 17,Launch 18,Launch 19,Launch 20,Launch 21,Launch 22,Launch 23,Launch 24,Launch 25,Launch 1_y
0,Hydroelectric Dam:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,Hydroelectric Dam - Success - 20,20.000000,20,20,20,20,20,20,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
2,Hydroelectric Dam - Time,7.330000,5.97,9.79,5.59,6.18,5,6.03,6.11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
3,Innovation Project Model:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,Innovation Project Model - Success - 10,10.000000,10,10,10,10,10,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2.0
5,Innovation Project Model - Time,6.420000,5.99,8.77,6.58,5.76,6.27,6.15,5.85,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
6,Power Plant:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7,Power Plant - Success - 15 - 5 each,15.000000,0,15,5,15,0,15,15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
8,Power Plant - Time,6.590000,NaN,6.48,10.23,6.5,4.66,6.27,6.41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
9,Power Plant - Bonus - 10,10.000000,0,10,0,10,0,10,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2.0
10,Stats:,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
11,Time Back,4.540000,12.72,4.62,4.09,4.77,6.09,4.76,4.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
12,Total Time,24.880000,24.68,29.66,26.49,23.21,22.02,23.21,23.15,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,Total Points,55.000000,30,55,35,55,30,55,55,55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,Success Rate,1.000000,0.545455,1,0.636364,1,0.545455,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,Full Completion,1.000000,0,1,0,1,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
16,Notes:,55.000000,Didn't do Power Plant,Got stuck on Water Dam,Got a bit stuck and only got the Right energy ...,Perfect Run,Lifted the first ring on poerplant but couldn'...,Perfect Run,Perfect Run,Perfect Run,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
17,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
18,Average Points,47.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
19,Average Points Converted,0.858586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
20,Average Time,24.922222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
21,Success Rate (Full Launch Completion),0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
22,Launches:,55.000000,Launch 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
23,Mission:,55.000000,Hydroelectric Dam,Innovation Project Model,Power Plant,Total,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
24,Points:,55.000000,20,10,15,45,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0
25,Description:,55.000000,If energy cell unit is not touching Water Dam.,If Innovation Project Model is partly inside H...,If energy cell unit is no longer touching Powe...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
26,Bonus:,55.000000,0,0,10,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2.0
27,Description:,55.000000,NaN,NaN,If all three energy cell units are not touchin...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
28,Total:,55.000000,20,10,25,55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0

In [55]:
pivot = pd.pivot_table(citymerge,columns="Launch 5",index="Launch 1_x",values="Launch 3",aggfunc="count")

In [56]:
pivot

Launch 5,1,4.77,5.76,6.18,6.5,10,15,20,23.21,45,55,Perfect Run,Total
Launch 1_x,,,,,,,,,,,,,
1.00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.54,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.42,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.59,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.33,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.00,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
24.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
55.00,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,2.0,1.0,1.0